/django/
__pycache__/
*.pyc
.DS_Store

# Windows system files
Thumbs.db
desktop.ini

# Python environment and cache
venv/
.venv/
env/
*.py[cod]

# Django data
db.sqlite3
media/
staticfiles/

# env and log
.env
*.log