<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Recipe Book{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Recipe Book</h1>

        <nav>

            {% if user.is_authenticated %}
                <form method="POST" action = "{% url 'logout'%}">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
            
        </nav>

    </header>

    <h2>{% block heading_text %}{% endblock %}</h2>

    <main>
        {% block content %}{% endblock %}
    </main>


</body>
</html>

